<!-- Navbar for Large Screens -->
<nav class="nav-wrapper  main_Color">
  <div class="container" >
    <a href="#" class="brand-logo">SplitIt</a>
    
    <!-- Navbar Links (visible on medium and large screens) -->
    <ul class="right hide-on-med-and-down">
      <li><a href="/">Home</a></li>
      <li><a href="/newSplit">New Split</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>


    <!-- SideNav Trigger Icon (visible on small screens) -->
    <a href="#" data-target="mobile-nav" class="sidenav-trigger left hide-on-large-only">
      <i class="material-icons">&#9776</i>
    </a>
    <!-- Avatar Icon on Right Side for Mobile Screens -->
    <li class="avatar-large right">
      <a href="/profile">
        <img src="https://via.placeholder.com/350" alt="User Avatar" class="avatar">
      </a>
    </li>
  </div>
</nav>

<!-- SideNav for Mobile Screens -->
<ul class="sidenav" id="mobile-nav">
  <li><a href="/">Home</a></li>
  <li><a href="/about">About</a></li>
  <li><a href="/contact">Contact</a></li>

</ul>