<%- include('components/navbar') %>


<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col s12 center-align">
      <div class="card">
        <div class="card-content">
          <span class="card-title">Contact Us</span>
          <p class="flow-text">
            If you have any questions or issues, feel free to contact us at:
          </p>
          <div class="section">
            <a href="mailto:splitit@gmail.com" class="btn-large waves-effect waves-light">
              <i class="material-icons left">email</i>
              splitit@gmail.com
            </a>
          </div>
          <p class="section">
            We'll get back to you as soon as possible!
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Materialize JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    // Initialize all Materialize components
    M.AutoInit();
  });
</script>

</body>
</html> 