<%- include('components/navbar') %>



  <div class="container">
    <!-- Page Header -->
    <h1 class="center-align">Welcome to SplitIt</h1>
    <h5 class="center-align grey-text">Your All-In-One bill splitting tool</h5>
    <br>

    <!-- Button -->
    <div class="center-align">
      <a href="/login" class="waves-effect waves-light btn"><span class="txt_MainColor">Login</span></a>
    </div>

    <div class="container">
      <!-- Recent Splits Section -->
      <h2 class="header-text ">Recent Splits</h2>
      <ul class="collection" >
        <li class="collection-item avatar editable-row">
          <img src="images/yuna.jpg" alt="" class="circle">
          <span class="title">Michael Backman</span>
          <p>Second Line</p>
          <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
        </li>
        <li class="collection-item avatar editable-row">
          <i class="material-icons circle">folder</i>
          <span class="title">Logan Spencer</span>
          <p>Another Second Line</p>
          <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
        </li>
            <li class="collection-item avatar editable-row">
              <i class="material-icons circle green">insert_chart</i>
              <span class="title">Lara Justus</span>
              <p>Second Line</p>
              <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
            </li>
            <li class="collection-item avatar editable-row">
              <i class="material-icons circle red">play_arrow</i>
              <span class="title">Bryce Whitworth</span>
              <p>Second Line</p>
              <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
            </li>
      </ul>
    </div>
    
    
              
<br>
  <!-- Footer -->
  <footer class="page-footer main_Color">
    <div class="container">
      <h5 class="white-text">SplitIt</h5>
      <h6 class="grey-text text-lighten-4">
        The SplitIt tool is designed to help users easily split bills 
        from  utilities and rent to resturaunt checks. 
        They can be scheduled or a one time split. 
        Everything is handled from the security of Venmo Transactions.
      </h6>
    </div>
  </footer>

  <!-- Materialize JavaScript (for interactive components) -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      const elems = document.querySelectorAll('.sidenav');
      M.Sidenav.init(elems);
    });

  </script>
</body>
</html>
