<%- include('components/navbar') %>


<!-- Main Content -->
<div class="container">
  <h2 class="center-align">Create New Profile</h2>
  
  <div class="row">
    <form class="col s12" action="/createProfile" method="POST">
      <!-- Basic Info Section -->
      <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix">person</i>
          <input id="first_name" name="first_name" type="text" class="validate" required>
          <label for="first_name">First Name</label>
        </div>
        <div class="input-field col s6">
          <input id="last_name" name="last_name" type="text" class="validate" required>
          <label for="last_name">Last Name</label>
        </div>
      </div>

      <!-- Login Credentials -->
      <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix">account_circle</i>
          <input id="username" name="username" type="text" class="validate" required>
          <label for="username">Username</label>
        </div>
        <div class="input-field col s6">
          <i class="material-icons prefix">lock</i>
          <input id="password" name="password" type="password" class="validate" required>
          <label for="password">Password</label>
        </div>
      </div>

      <!-- Contact Info -->
      <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix">email</i>
          <input id="email" name="email" type="email" class="validate" required>
          <label for="email">Email</label>
        </div>
        <div class="input-field col s6">
          <i class="material-icons prefix">phone</i>
          <input id="cellphone" name="cellphone" type="tel" class="validate" required>
          <label for="cellphone">Phone Number</label>
        </div>
      </div>

      <!-- Venmo Info -->
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">payment</i>
          <input id="venmo_id" name="venmo_id" type="text" class="validate">
          <label for="venmo_id">Venmo ID</label>
        </div>
      </div>

      <!-- Submit Button -->
      <div class="row">
        <div class="col s12 center-align">
          <button class="btn-large waves-effect waves-light" type="submit">
            Create Profile
            <i class="material-icons right">person_add</i>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

<!-- Materialize JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    // Initialize all Materialize components
    M.AutoInit();
  });
</script>

</body>
</html>
