:root {
  --main-color: #4db6ac;
  --secondar-color: #2ecc71;
  --text-main: white;
}

.main_Color{
  color: var(--main-color);
  background-color: var(--main-color);
}
.txt_MainColor {
  color: var(--text-main);
}


.avatar {
  width: 45px;         /* Adjust size as needed */
  height: 45px;
  border-radius: 50%;  /* Makes the image circular */
  margin-left: 10px;   /* Adds a little space from the other links */
}

.avatar-large {
  display: block; /* Ensures it's displayed in the navbar */
}

.avatar-mobile {
  display: block; /* Ensures it's displayed in the SideNav */
  position: absolute; /* Position it to the right */
  right: 10px; /* Adjust as needed */
  top: 16px; /* Align with navbar height */
}

/* Hide avatar on the opposite side */
.hide-on-large-only .avatar-large {
  display: none;
}

.hide-on-med-and-down .avatar-mobile {
  display: none;
}

.header-text {
  border-bottom: 1px solid #000000;
}

/* Ensure the collection takes up the full width */
.collection {
  width: 100%;
  margin: 0; /* Remove any default margins */
  padding: 0; /* Remove any default padding */
  border-radius: 5px;
  border-width: 1px;
  border-color: grey;
}

/* Ensure each collection item also spans the full width */
.collection-item {
  width: 100%;
  border-radius: 0px;
  box-sizing: border-box; /* Ensures padding does not affect width */
}
