:root {
  --main-color: #4db6ac;
  --secondary-color: #cee9e5;
  --text-main: #eff8f6;
}

.main_Color{
  color: var(--main-color);
  background-color: var(--main-color);
}
.txt_MainColor {
  color: var(--text-main);
}


.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  vertical-align: middle;
}

.avatar-large {
  display: inline-block;
}

.avatar-mobile {
  display: block; /* Ensures it's displayed in the SideNav */
  position: absolute; /* Position it to the right */
  right: 10px; /* Adjust as needed */
  top: 16px; /* Align with navbar height */
}

/* Hide avatar on the opposite side */
.hide-on-large-only .avatar-large {
  display: none;
}

.hide-on-med-and-down .avatar-mobile {
  display: none;
}

.header-text {
  border-bottom: 1px solid #000000;
}

/* Hover effect for table rows */
.editable-row:hover {
  background-color: #f0f0f0;  /* Light grey on hover */
  cursor: pointer;
}

/* Highlight the selected row */
.editable-row.selected {
  background-color: #b0e8e3;  /* Light teal when selected */
}

/* Ensure the collection takes up the full width */
.collection {
  width: 100%;
  margin: 0; /* Remove any default margins */
  padding: 0; /* Remove any default padding */
  border-radius: 5px;
  border-width: 1px;
  border-color: grey;
}

/* Ensure each collection item also spans the full width */
.collection-item {
  width: 100%;
  border-radius: 0px;
  box-sizing: border-box; /* Ensures padding does not affect width */
}

* Style for input and button */
input[type="text"] {
  padding: 10px;
  width: 80%;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
}

button {
  background-color: #4CAF50;
  color: white;
  width: fit-content;
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #45a049;
}

/* General page setup */
.loginBody {
  font-family: 'Arial', sans-serif;
  background-color: #f4f7f6;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.loginForm{
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  padding: 4% 8%;
  border: 1px solid var(--secondary-color);
  border-radius: 10px;
  text-align: center;
}
.loginForm div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loginForm label,
.loginForm input{
  display: flex;
  align-self: flex-start; /* Aligns the label to the left within its flex container */
  text-align: left; /* Aligns the text within the label to the left */
  width: 200px;
}

.page-footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-footer container {
  padding: 40;
}

.container {
  padding-right: 60px; /* Add space for the avatar */
}
